extends layout

block append body
    .container.theme-showcase(role='main')


        .jumbotron
            script(src='/javascripts/functions.js')
            h1 Visualisation des salles
            if (!user)
                p Liste des salles existantes
                    table
                        tr
                            th Nom de salle
                            th Capacité
                            th Categorie
                            th Heure d'ouverture
                            th Heure de fermeture
                        each val in listeSalles
                            tr
                                td= val['libelle']
                                td= val['capacite']
                                td= val['libellecat']
                                td= val['horairedebut'].getHours()+'h'+ val['horairedebut'].getMinutes()
                                td= val['horairefin'].getHours()+'h'+ val['horairefin'].getMinutes()

            else
                p Liste des salles existantes
                    table
                        tr
                            th Nom de salle
                            th Capacité
                            th Categorie
                            th Heure d'ouverture
                            th Heure de fermeture
                        each val in listeSalles
                            tr
                                td= val['libelle']
                                td= val['capacite']
                                td= val['libellecat']
                                td= val['horairedebut'].getHours() + 'h' + val['horairedebut'].getMinutes()
                                td= val['horairefin'].getHours() + 'h' + val['horairefin'].getMinutes()

                p Salles déjà reservées
                    table
                        tr
                            th Nom de salle
                            th Horaire début
                            th Horaire fin

                        each val in listeSallesReservees
                            tr
                                td= val['libelle']
                                td= val['datedebut'].getDate()+'/'+ (val['datedebut'].getMonth()+1) +'/'+ val['datedebut'].getFullYear()+' - '+val['datedebut'].getHours()+'h'+ val['datedebut'].getMinutes()
                                td= val['datefin'].getDate()+'/'+ (val['datefin'].getMonth()+1) +'/'+ val['datefin'].getFullYear()+' - '+val['datefin'].getHours()+'h'+ val['datefin'].getMinutes()